
		*{
			margin: 0;
			padding: 0;
		}
		a{
			text-decoration: none;
		}
		.wrapper{
			width: 90%;
			margin: auto;
		}
		.slide{
			background-color: 100%;
			width: 100%;
			height: 300px;
			margin: auto;
			display: table;
		}
		.slide img{
			width: 100%;
		}
		.navigation{
			background-color: #0066ff;
			width: 99.2%;
			margin-bottom: 10px;
			padding: 10px 0 0 10px;
			display: table;
			position: -webkit-sticky;
			position: sticky;
			top: 0;
			z-index: 3;
		}
		.navigation a{
			padding: 10px;
			margin-bottom: 10px;
			text-decoration: none;
			font-size: 20px;
			color: white;
		}
		.navigation a:hover{
			background-color: white;
			padding: 10px;
			color: #0066ff;
		}
		.navigation .login{
			background-color: white;
			color: #0066ff;
			padding: 0 10px 0 10px;
			float: right;
		}
		.navigation .login:hover{
			padding: 0 30px 0 30px;
		}
		.page{
			width: 100%;
			height: auto;
			display: table;
		}
		.content{
			background-color: #e6f7ff;
			width: 77%;
			display: table;
			float: left;
		}
		.terbaru{
			background-color: #e6f7ff;
			width: 20%;
			height: auto;
			padding: 15px;
			position: -webkit-sticky;
			position: sticky;
			top: 44px;
			float: right;
		}
		.terbaru p{
			padding-bottom: 10px;
		}
		.terbaru a{
			color: grey;
		}
		.terbaru a:hover{
			color: blue;
		}
		.footer{
			background-color: #e6f7ff;
			width: 100%;
			height: 250px;
			margin-top: 10px;
		}
		.copyright{
			background-color: #0066ff;
			width: 98.4%;
			padding: 10px;
			color: #e6f0ff;
		}
		.bagian{
			height: auto;
			margin: 10px;
			padding: 10px;
			display: table;
			float: left;
		}
		.bagian p, .bagian a{
			color: grey;
			margin-bottom: 3px;
		}
		.bagian a:hover{
			color: blue;
		}